<div class="navigation_container">
  <div class="navigation">
    <div class="navigation_buttons">
      <a [routerLink]="'/'">Главная</a>
      <a [routerLink]="'/about'">О нас</a>
    </div>
    <div class="navigation_search">
      <form (submit)="onSubmit(text.value)">
       <input type="text" placeholder="Поиск..." #text>
      </form>

      <a routerLink="/cart" class="button fancy-button">
        <i class="material-icons">shopping_cart</i>
        <h4>КОРЗИНА</h4>
      </a>
    </div>
  </div>
</div>
